nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lab(14.53% 18.26 -38.61);
    padding: 10px;
}

.menu-direita {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    padding-top: 60px;
    margin
}
footer {
    background-color: lab(14.53% 18.26 -38.61);
    color: white;
    padding: 20px;
    margin-top: 200px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 10px;
}