body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f0f0f0;
}

header {
  background: #1e3a5f7a;
  color: white;
  text-align: left;
  padding: 20px;
}
header {
  background: #2be6e69a;
  color: #1e3a5f;
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
body {
  background-image: url('teoria-do-iceberg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
}

nav {
  background: #33333371;
  padding: 10px;
  text-align: center;
}

h2,
p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33333371;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 23px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #2be6e693;
}
footer {
  background: #2be6e693;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}