header{
    background-color: darkred;
    height: 100px;
}
h1{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    font-size: 50px;
}
*{
    padding: 0px;
    margin: 0px;
}
.contas{
    font-size: x-large;
    text-align: center;
    line-height: 1.8;
    justify-self: center;
}
#gt{
    transition: 1.0s;
}
#gt:hover{
    font-size: xx-large;
}
add{
    margin: 5px;
}
.but{
    width: 100px;
}
.buttons{
    line-height: 100px;
}
#butt{
    margin: 5px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: white;
    border-radius: 5%;
    box-shadow: none;
}
#score{
    font-size: 50px;
    text-align: center;
}
nav {
  background: darkred;
  padding: 10px;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.e{
    float: right;
}
footer{
    margin: 0;
    background-color: darkred;
    height: 200px;
    padding: 0;
    display: flex;
    text-align: center;
}
p{
    text-align: center;
}